<h2>詳細ページ</h2>
<div>
  <%= render @book %>
    <div>
      <%= link_to "編集", edit_book_path %>
      <%= button_to "削除", book_path, method: :delete %>
    </div>
</div>
<div>
  <%= link_to "戻る", books_path %>
</div>
